.section-container {
    margin: 5rem .5rem .5rem .5rem;
    gap: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (min-width: 769px) {
    .section-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0 9%;
        margin-top: 7rem;
    }

    .section-container > div {
        width: 22%;
    }
}