.container-active-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5rem .5rem .8rem .5rem;
    gap: .5rem .3rem;
}
.active-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    cursor: pointer;
    background-color: green;
    color: white;
    padding: .4rem .8rem;
    border-radius: .4rem;
    transition: all 150ms;
}
.section-container-filter {
    margin: 1rem .5rem .5rem .5rem;
    gap: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.container-active-filter ~ h1 {
    margin-top: 2rem;
    text-align: center;
}
.active-filter > strong {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: red;
    border-radius: 10rem;
    padding: .1rem .3rem;
}

@media (min-width: 769px) {
    .container-active-filter {
        justify-content: center;
        margin-top: 7.5rem;
    }
    .container-active-filter ~ h1 {
        font-size: 2rem;
    }
    .section-container-filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 0 9%;
        margin-top: 2rem;
    }
    .section-container-filter > div {
        width: 22%;
    }
    .active-filter:hover {
        background-color: rgb(3, 88, 3);
    }
}