@import '/styles/global/variables.scss';

.horizontal-divider {
    width: 100%;
    border-radius: .5rem;
    margin: .5rem 0;
}

.vertical-divider {
    border-radius: .5rem;
    margin-right: .35rem;
}

@media (min-width: 769px) {
    .main-content {
        padding: 0 4%;
    }
    .section-category {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 3rem;
    }
    
}

@media (min-width: 1450px) {
    .main-content {
        padding: 0 9%;
    }
}