@import '/styles/global/variables.scss';

.main-container-agregos {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    gap: .35rem;
    background-color: white;
    margin: 1rem;
    border-radius: .75rem;
    padding: .85rem .6rem;
}

.title-agregos {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 0 .5rem;
    font-size: 1.15rem;
    font-weight: bold;
}

.agrego-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: .75rem;
}

.agrego-list-grid {
    display: grid;
    grid-template-columns: 4fr 1fr 2fr;
    row-gap: .75rem;
    margin-top: .65rem;
    border-radius: .25rem;
    padding: .45rem;
    font-size: .85rem;
}

.agrego-grid {
    border-top: solid 1px rgba(128, 128, 128, .25);
}

.text-info-agrego {
    display: flex;
    align-items: center;
}

.agrego-item-options {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    gap: .25rem;
    align-items: center;
}

.button-amount {
    border: none;
    padding: .35rem .55rem;
    background-color: $bg-gray;
    color: $text-bg-gray;
    border-radius: .25rem;
    font-size: .95rem;
    transition: all 150ms;
}
.button-amount:hover {
    background-color: $bg-gray-600;
}

.button-delete {
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    background-color: red;
    color: white;
    border-radius: .25rem;
    margin-left: .35rem;
    font-size: 1.45rem;
    transition: all 150ms;
}

.button-delete:hover {
    background-color: rgb(194, 4, 4);
}

.add-agrego {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: .45rem;
    text-align: center;
    border: none;
    border-radius: .25rem;
    background-color: $bg-gray;
    text-align-last: center;
    transition: all 200ms;
}
.add-agrego:hover {
    background-color: $bg-gray-600;
}

.add-agrego:focus {
    outline: none;
}

@media (min-width: 769px) {
    .title-agregos {
        font-size: 1.3rem;
        padding: 0 1.3rem;
    }
    .add-agrego {
        font-size: 1.2rem;
        cursor: pointer;
    }
    .agrego-list-grid {
        font-size: 1.1rem;
    }
    .button-amount {
        cursor: pointer;
    }
    .button-delete {
        cursor: pointer;
    }
}