.alert-dialog {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    outline: none;
    height: fit-content;
    width: 95%;
    border: none;
    box-shadow: 0 0 15px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.alert-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 15;
}

.alert-dialog-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .4rem;
    padding: .5rem;
}

.alert-dialog-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .7rem;
}

.alert-dialog-action {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: .8rem;
}

.alert-dialog-action > button {
    border: none;
    padding: .3rem .7rem;
    border-radius: .3rem;
    font-size: 1rem;
}

.btn-positive {
    background-color: green;
    color: white;
}

.btn-negative {
    background-color: gray;
}