@import '/styles/global/variables.scss';
.main-container-bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 3.5px -5px 10px 0 rgb(0, 0, 0, 0.1);
    z-index: 20;
    transition: all 150ms;
    transform: translateY(105%);
}

.container-bottom-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.info-bottom-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: .7rem;
    font-size: 1.15rem;
}

.item-amount-bottom-bar {
    background-color: $primary;
    padding: .2rem .6rem;
    margin-right: .5rem;
    border-radius: 999px;
}

.price-bottom-bar {
    display: flex;
    align-items: center;
}

.button-buy-bottom-bar {
    height: 100%;
    padding: 0 1.3rem;
    background-color: $primary;
    color: black;
    border: none;
    font-size: 1rem;
}

.input-bottom-bar {
    display: none;   
}

.input-bottom-bar:checked ~ .main-container-bottom-bar {
    transform: translateY(0);
}

@media (min-width: 769px) {
    .main-container-bottom-bar {
        display: none;
    }
}