@import '/styles/global/variables.scss';
.btn-add-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding: .2rem .75rem;
    background-color: $primary;
    color: black;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 150ms;
    font-size: .95rem;
    align-items: flex-end;
    gap: .2rem;
    transition: all 250ms;
}

.btn-add-cart > svg {
    font-size: 1.4rem;
}

@media (min-width: 769px) {
    .btn-add-cart {
        font-size: 1rem;
        padding: .4rem 1rem;
    }
    .btn-add-cart:hover {
        background-color: $primary-700;
        color: white;
    }
}