.main-id {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 3rem;
}

.main-container-id  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .65rem;
    margin: 1rem;
    border-radius: .75rem;
    background-color: white;
    overflow: hidden;
}

.image-container-id  {
    position: relative;
    width: 100%;
    height: 12rem;
    display: flex;
}

.item-body-id  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: .5rem .75rem;
    gap: .55rem;
}

.item-name-id  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.item-name-id h1 {
    font-size: 1.25rem;
    margin-right: .5rem;
}

.category-link-id {
    color: green;
    font-weight: bold;
}

.item-description-id p {
    padding: .15rem .45rem;
    font-size: .90rem;
}

.item-options-id  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .55rem;
}

.amount-options-id  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}

.amount-buttons-id  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: .55rem;
}

.button-amount-id  {
    background-color: gray;
    color: white;
    padding: .35rem .75rem;
    border-radius: .25rem;
    text-align: center;
    border: none;
}

.total-price-id  {
    font-size: 1.15rem;
    color: green;
    font-weight: bold;
    margin-top: .05rem;
}

.buy-options-id  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
}

.btn-buy-id  {
    padding: .55rem 1.25rem;
    background-color: rgb(25, 182, 59);
    color: black;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
}

.discount-id  {
    color: red;
    font-size: .9rem;
}

.badge-offer-id  {
    padding: .3rem .45rem;
    border-radius: .2rem;
    font-size: .8rem;
    background-color: red;
    color: white;
}

.main-container-short {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: .75rem;
    color: black;
    overflow: hidden;
    position: relative;
    box-shadow: 3.5px 5px 10px 0 rgb(0, 0, 0, 0.1);
    min-width: 10rem;
}

.container-img-short {
    height: 7rem;
    position: relative;
}

.info-short {
    font-size: .85rem;
    padding: .55rem .3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .3rem;
}

.main-container-suggestion {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 1rem;
    padding: .85rem .6rem;
    gap: 1rem;
    border-radius: .75rem;
    background-color: white;
}

.title-suggestion{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.15rem;
    padding: 0 .5rem;
    font-weight: bold;
}

.container-items-suggestion {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: .8rem;
}

.main-container-bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 3.5px -5px 10px 0 rgb(0, 0, 0, 0.1);
    z-index: 20;
    transition: all 150ms;
    transform: translateY(105%);
}

.container-bottom-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.info-bottom-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1rem .7rem;
    font-size: 1.15rem;
}

.item-amount-bottom-bar {
    background-color: rgb(25, 182, 59);
    padding: .2rem .6rem;
    margin-right: .5rem;
    border-radius: 999px;
}

.price-bottom-bar {
    display: flex;
    align-items: center;
}

.button-buy-bottom-bar {
    height: 100%;
    padding: 0 1.3rem;
    background-color: rgb(25, 182, 59);
    color: black;
    border: none;
    font-size: 1rem;
}

.input-bottom-bar {
    display: none;   
}

.input-bottom-bar:checked ~ .main-container-bottom-bar {
    transform: translateY(0);
}
