.item-cart-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .5rem;
}

.info-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .3rem;
}

.info-container h2 {
    font-size: 1.3rem;
}

.image-container {
    position: relative;
    width: 45%;
    min-width: 45%;
    aspect-ratio: 4/3;
    display: flex;
    overflow: hidden;
    border-radius: .75rem;
}
.price-item-cart {
    font-weight: bold;
}

@media (min-width: 769px) {
    .info-container {
        gap: .8rem;
        justify-content: center;
    }
    .info-container h2 {
        font-size: 1.6rem;
    }
    .info-item-cart {
        font-size: 1.2rem;
    }
    .image-container {
        width: 25%;
        min-width: 25%;
    }
    .price-item-cart {
        font-size: 1.4rem;
    }
}