@import '/styles/global/variables.scss';

.main-container-id  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .65rem;
    margin: 1rem;
    border-radius: .75rem;
    background-color: white;
    overflow: hidden;
}
.image-container-id  {
    width: 100%;
    position: relative;
    aspect-ratio: 4/3;
    display: flex;
}
.image-container-id > img {
    object-fit: cover;
}
.item-body-id  {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: .5rem .75rem;
    gap: .55rem;
}
.item-name-id  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.item-name-id h1 {
    font-size: 1.25rem;
    margin-right: .5rem;
}
.category-link-id {
    font-weight: bold;
    color: $primary-600;
    transition: all 150ms;
}
.category-link-id:hover {
    color: $primary-700;
}
.item-description-id p {
    padding: .15rem .45rem;
    font-size: .90rem;
}
.item-options-id  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: .55rem;
}
.amount-options-id  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
}
.amount-buttons-id  {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    gap: .55rem;
}
.button-amount-id  {
    background-color: $bg-gray;
    color: $text-bg-gray;
    padding: .35rem .75rem;
    border-radius: .25rem;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all 150ms;
}
.button-amount-id:hover {
    background-color: $bg-gray-600;
}
.total-price-id  {
    font-size: 1.15rem;
    font-weight: bold;
    margin-top: .05rem;
}
.buy-options-id  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
}
.btn-buy-id  {
    padding: .55rem 1.25rem;
    background-color: $primary;
    color: black;
    border-radius: .25rem;
    border: none;
    cursor: pointer;
    transition: all 200ms;
}
.btn-buy-id:hover {
    background-color: $primary-600;
}
.discount-id  {
    color: red;
    font-size: .9rem;
}
.badge-offer-id  {
    padding: .3rem .45rem;
    border-radius: .2rem;
    font-size: .8rem;
    background-color: red;
    color: white;
}
@media (min-width: 769px) {
    .main-container-id {
        height: fit-content;
        flex-direction: row;
        gap: 0;
    }
    .item-body-id {
        padding: 1rem;
    }
    .item-name-id h1 {
        font-size: 1.5rem;
    }
    .info-text {
        font-size: 1.2rem;
    }
    .item-description-id p {
        font-size: 1rem;
    }
    .item-description-id h4 {
        font-size: 1.2rem;
    }
    .total-price-id {
        font-size: 1.35rem;
    }
    .amount-buttons-id > div {
        font-size: 1.35rem;
    }
    .discount-id {
        font-size: 1.1rem;
    }
    .btn-buy-id {
        font-size: 1.1rem;
    }
}