@import '/styles/global/variables.scss';

.container-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: white;
    border-radius: .75rem;
    color: black;
    overflow: hidden;
    position: relative;
    box-shadow: 3.5px 5px 10px 0 rgb(0, 0, 0, 0.25);
}

.image-item {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 4/3;
    display: flex;
    overflow: hidden;
}

.image-item > img {
    object-fit: cover;
}

.image-not-available {
    justify-content: center;
    align-items: center;
    aspect-ratio: 4/3;
}
.img-glass {
    width: 100%;
    height: 100%;
    z-index: 1;
}
.img-glass::after{
    content: '';
    background: rgba(187, 187, 187, 0.61);
    border-radius: .5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.body-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: space-between;
}

.info-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: .25rem .5rem;
    place-self: flex-start;
    max-width: 100%;
}

.container-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    margin-top: .5rem;
}

.container-title h3 {
    font-weight: normal;
    font-size: 1.1rem;
}

.description-item {
    margin-top: .65rem;
    font-size: .80rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.price-item {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-top: .3rem;
    font-size: 1.1rem;
    font-weight: bold;
    gap: .5rem;
}

.container-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .5rem .5rem .75rem .5rem;
}

.offer-price {
    margin-right: .5rem;
    font-size: .9rem;
    color: red;
    text-decoration: line-through;
}

.not-available {
    color: white;
    background-color: gray;
}

.shape-offer {
    position: absolute;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: red;
    color: white;
    z-index: 10;
    margin-top: .85rem;
    font-size: .9rem;
    padding-left: .2rem;
}

.shape-offer::before {
    content: "";
    position: absolute;
    right: -16px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 16px solid red;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
}
.shape-not-available {
    position: absolute;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: gray;
    color: white;
    z-index: 10;
}
.shape-not-available:after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 20px solid gray;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}
.shape-not-available:before {
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid gray;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

@media (min-width: 769px) {
    .description-item {
        margin-top: .65rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-line-clamp: 2;
        -moz-line-clamp: 2;
        box-orient: vertical;
        -webkit-box-orient: vertical;
        white-space: normal;
        font-size: 1.05rem;
    }
    .offer-price {
        font-size: 1rem;
    }
    .container-title h3 {
        font-size: 1.2rem;
    }
    .info-item {
        gap: .5rem;
    }
    .body-item {
        gap: .5rem;
    }
    .shape-offer {
        font-size: 1.1rem;
    }
    .price-item {
        font-size: 1.25rem;
    }
    .offer-price {
        font-size: 1.4rem;
    }
}