.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0 .85rem;
    width: 100vw;
    height: 55px;
    background-color: rgb(25, 182, 59);
    z-index: 20;
}

.nav-container h2 {
    color: white;
}

.close-button {
    font-size: 1.5rem;
    color: white;
    display: flex;
    z-index: 10;
}

.input-toggle-side-bar{
    display: none;
}

.input-toggle-side-bar:checked ~ .side-bar{
    transform: translate(0%);
    display: block;
}

.input-toggle-side-bar:checked ~ .background-side-bar{
    visibility: visible;
    opacity: 1;
}

.side-bar {
    background-color: white;
    width: 80%;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 55px;
    z-index: 15;
    transition: all 400ms;
    transform: translateX(102%);
    padding: 1.25rem .85rem;
    display: none;
}

.background-side-bar{
    position: fixed;
    top: 55px;
    right: 0;
    background-color: rgba(48, 48, 48, 0.582);
    width: 100vw;
    height: 100vh;
    z-index: 14;
    visibility: hidden;
    opacity: 0;
    transition: all 250ms;
}

.info-profile-bar {
    display: flex;
    flex-direction: row;
}

.info-profile-bar h1{
    font-size: 1.45rem;
}

.badge {
    margin-left: .5rem;
    padding: .3rem .45rem;
    place-self: center;
    border-radius: .2rem;
    font-size: .6rem;
}

.open {
    color: white;
    background-color: green;
}

.close {
    color: white;
    background-color: gray;
}
.categories-container {
    margin-top: 1.5rem;
}

.categories-container h3 {
    font-size: 1.1rem;
}

.categories-list-container {
    display: flex;
    flex-direction: column;
    gap: .85rem;
    margin-top: 1rem;
    list-style: none;
}

.categories-list-container li label {
    width: 100%;
    display: block;
    font-size: .95rem;
    padding: .5rem .85rem;
    border-radius: .35rem;
    background-color: rgb(211, 204, 204);
    transition: all 200ms;
}

input[name="toggle-categories"] {
    display: none;
}

input[name="toggle-item-list"] {
    display: none;
}

input[name="toggle-categories"]:checked ~ label {
    background-color: green;
    color: white;
}

input[name="toggle-item-list"]:checked ~ label {
    background-color: green;
    color: white;
}

.active-label {
    background-color: green;
    color: white;
}

.btn-side-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .3rem;
}

.child-btn-side-bar {
    background-color: white;
    width: 1.8rem;
    height: .35rem;
    border-radius: .2rem;
    transition: transform 200ms ease;
}

.up-icon {
    transform-origin: top left;
}

.down-icon {
    transform-origin: bottom left;
}

.input-toggle-side-bar:checked ~ .nav-container > label > .up-icon {
    transform: rotate(45deg) translateY(-6px);
}

.input-toggle-side-bar:checked ~ .nav-container > label > .down-icon {
    transform: rotate(-45deg) translateY(6px);
    transform-origin: bottom left;
}

@media (min-width: 769px) {
    .nav-container {
        display: none;
    }
    .categories-container {
        display: none;
        position: absolute;
        bottom: 100%;
        right: 90%;
        background-color: white;
        padding: 1rem 1.5rem;
        border-radius: .6rem;
        box-shadow: 3.5px 5px 10px 0 rgb(0, 0, 0, 0.1);
        transition: all 150ms;
    }
    .categories-container h3 {
        color: black;
        font-size: 1.3rem;
    }
    .categories-list-container li label {
        font-size: 1.1rem;
        min-width: max-content;
        color: black;
        cursor: pointer;
    }
    .categories-list-container li label:hover {
        background-color: rgb(146, 146, 146);
    }
}