@import '/styles/global/variables.scss';

.nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    padding: 0 .85rem;
    width: 100vw;
    height: 55px;
    background-color: $primary;
    z-index: 20;
}
.nav-container h2 {
    font-size: 1.4rem;
    color: white;
}
.close-button {
    font-size: 1.4rem;
    color: white;
    display: flex;
    z-index: 10;
}
.badge {
    margin-left: .5rem;
    padding: .3rem .45rem;
    place-self: center;
    border-radius: .2rem;
    font-size: .6rem;
}
.open {
    color: white;
    background-color: $primary;
}
.close {
    color: white;
    background-color: gray;
}
.active-label {
    background-color: $primary;
    color: white;
}
.btn-side-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .3rem;
}
.child-btn-side-bar {
    background-color: white;
    width: 1.8rem;
    height: .25rem;
    border-radius: .2rem;
    transition: transform 200ms ease;
}
.up-icon {
    transform-origin: top left;
}
.down-icon {
    transform-origin: bottom left;
}
@media (min-width: 769px) {
    .nav-container {
        display: none;
    }
}