.container-img {
    width: 100%;
    position: relative;
    z-index: -15;
}

.profile-img {
    width: 100%;
}

.container-info {
    margin: 0 1.5rem;
    padding: 1rem 0.75rem;
    color: black;
    position: relative;
    top: -3rem;
    box-shadow: 3.5px 5px 10px 0 rgb(0, 0, 0, 0.25);
}

.glass::after{
    content: '';
    background: rgba(255, 255, 255, 0.41);
    border-radius: .5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -10;
}

.container-description {
    padding: .5rem 0;
}

.tag-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: .5rem;
    margin-top: .45rem;
}

.tag-container div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: .35rem;
}

.tag-container div > :first-child {
    font-size: 1.2rem;
    color: green;
}

.social-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: .75rem;
}

.social-container a {
    font-size: 1.95rem;
}

.facebook {
    color: rgb(31, 31, 179);
}

.whatsapp {
    color: rgb(5, 121, 5);
}

.telegram {
    color: rgb(10, 102, 207);
}

.instagram {
    color: rgb(136, 27, 12);
}